@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* fixed style */
body {
  background-color: #1a0b2e;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* .main-width {
  width: 71%;
  max-width: 1200px;
  margin: 0 auto;
}   */

/* shared style */
.gradient-color{
background: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
-webkit-background-clip: text;
background-clip: text; 
-webkit-text-fill-color: transparent;
}
.gradient-btn {
  border-radius: 100px;
  padding: 12px 16px;
  cursor: pointer;
  border: none;
  background: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
}
.gradient-bg{
    background: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
    
}
/* opacity */
.opacity{
  opacity: 0.8;

}
/* header */
.banner-bg-img{
    background-image: url('../assets/hero-bg.png');
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    
}

@media (max-width: 768px) {
  .banner-bg-img {
    background-size:contain; 
    background-position: center top; 
    /* min-height: 100vh;  */
  }
}

/* hero-section */
.hero-section .img1{
width: 350px;
max-width: 1200px;
margin: 0 auto;
}

/* choose techWave styles */
.choose-card{
  padding: 25px;
  background-color:#351165 ;
  border-radius: 20px;
}
  h2{
 font-size: 20px;
 font-weight: 700;
}

/* footer style */
footer{
  background-image: url('../assets/footer-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position:center center;
    width: 100%;
    position: relative;
    background-color: #1a0b2e;
}
